.reserva h3 {
    font-family: 'Fuente3';
    text-align: center;
    margin-top: 50px;
    
}

.casas h2 {
    font-family: 'Fuente3';
    margin-top: 50px;
    padding-left: 10px;
    
}

.casas {
    width: 100%;
}


.informacion img {
    padding: 10px;
    width: 90%;
    height: 100px;
}

.informacion p {
    text-align: justify;
    padding: 5px;
    margin: 5px;
    font-family: 'Fuente1';
}

.caracteristicas {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;

}

.caracteristicas img {
    width: 50px;
    height: 50px;
}


.reserva {
    text-align: left;
}

.reserva form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserva fieldset {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.reserva legend {
    color: #1B5E20;
    padding: 5px;
}

.reserva label {
    color: #1B5E20;
}

.reserva input[type="text"], input[type="email"],input[type="datetime-local"] {
    border: none;
    border-bottom: 1px solid rgb(22, 104, 24);
    height: 30px;
    width: 250px;
    color: white;
}


.reserva input[type="submit"] {
    margin-top: 5px;
    background-color: #4CAF50;
    border: 1px solid rgb(22, 104, 24);
    border-radius: 20px;
    height: 30px;
    width: 100px;
    color: white;
}


@media screen and (min-width: 768px) {

    .casas {
        display: grid;
        grid-template-columns: 1fr 300px;
    }

    .casas h3 {
        display: none;
    }

}

@media screen and (min-width: 1024px) {

    .casas {
        display: grid;
        grid-template-columns: 1fr 400px;
        justify-content: center;
        align-items: center;
    }

    .casas h2 {
        text-align: center;
        font-size: 2rem;
    }

    .casas h3 {
        display: none;
    }

    .informacion {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .informacion img {
        width: 90%;
        height: 250px;
    }

    .informacion p {
        text-align: justify;
        padding-right: 5% ;
    }

    
    .caracteristicas img {
        width: 50px;
        height: 50px;
    }

    .reserva {
        display: flex;
        justify-content: center;

    }
}