.destinos {
    display: block;
    padding-bottom: 10px;
    background-color: #E8F5E9;
}

.destinos article {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 5px 0px ;
    padding: 5px;  
    background-color: white;
}

.destinos article:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.destinos h2 {
    font-family: 'Fuente3';
    font-size: 20px; 
    text-align: center;
}

.destinos h3 {
    display: block;
    text-align: center;
    font-size: 14px;
    height: 30px;
}

.destinos img {
    max-height: 150px;
    width: 100%;
}

@media screen and (max-width: 768px) {
     
    .destinos {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 45%;
        justify-content: center;
    }

    .destinos article {
        width: 600px;
        margin: 1%;
    }

    .destinos h2 {
        display: inline-block;
        clear: both;
        margin: 20px;
        padding: 20px;
    }

    .destinos h3 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .destinos {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        flex-basis: 40%;
        justify-content: center;
    }

    .destinos h2 {
        font-size: 1.8rem;
        display: inline-block;
        width: 100%;
        padding: 20px;
        text-align: left;   
    }

    .destinos h3  {
        font-size: 1.1rem;
    }

    .destinos article {
        width: 40%;
        margin: 2%;
    }


}