.info article{
    text-align: justify;
    border: 1px solid #66BB6A;
    background-color: rgba(76, 175, 79, 0.5);
    padding: 10px;
}

.info p{
    font-size: 12px;
}

.info h2 {
    text-align: center;
}

@media screen and (max-width: 768px) {
    
    .info article p {
        font-size: 10px;
    }
     
}

@media screen and (min-width: 768px) {
    
    .info {
        display: flex;
    }

}